body {
    text-align:unset ;
    font-size:larger;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #0d6302;
    margin: 0;

}

.banner img {
    height: 600px;
    background-size: cover;
    width: 100%;
    image-rendering: optimizeQuality;
    

}
.textoe {
    margin: 3% 12%;
    padding: 5% 5%;
    font-size: 26px;
    border-style: solid;
    background-color: #307523;
    text-align: center;
    
}
.textoe li or ul{
    text-align: start;
}


.textoe  img {
    background-position-x: center;
    background-size: cover;
    margin-left: 5%;
    margin-right: 5%;
    max-width: 850px; 
    max-height: 600px;
    min-height: 300px;
    

}


