*{
    margin: 0;
    padding: 0;
}

#titulo {
    font-family: sans-serif;
    color: rgb(4, 194, 4);
    margin-left: 12%;
}

#subtitulo {
    font-family: sans-serif;
    color: rgb(4, 194, 4);
    margin-left: 10%;
}

fieldset {
    border: 0;
}

body{
    background-color: gray;
    font-family: sans-serif;
    font-size: 1em;
    color: rgb(4, 194, 4);
    margin-left: 35%;
    margin-top: 10%;
    justify-content: center;
}

input, select, textarea, button{
    border-radius: Spx;
}

.campo {
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2em;
    color: rgb(4, 194, 4);
    display: block;
}

fieldset.grupo .campo{
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid gray;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: rgb(4, 194, 4);
}

.botao {
    font-size: 1.2em;
    background-color: gray;
    border: 0;
    margin-bottom: 1em;
    color: rgb(4, 194, 4);
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.botao:hover {
    background: gray;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.botao,select{
    -ms-content-zoom-snap-points: pointer;
}

#check{
    display: inline-block;
}
