<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/cadastro.css">
    <title>Cadastro</title>
</head>
<body>
    
    <div>
        <h1 id="titulo">Cadastro</h1>
        <p id="subtitulo">Complete o campo abaixo:</p>
        <br>
    </div>

    <form>
        <fieldset class="grupo">
            <form action="/Myperfil">

            </form>
        </fieldset>

        <fieldset>
        <div class="campo">
            <label>Você é:</label>
            <label>
                <input type="radio" name="devweb" value="frontend">Homem
            </label>
            <label>
                <input type="radio" name="devweb" value="backend">Mulher
            </label>
        </div>
        </fieldset>


        <fieldset class="grupo">
            <div id="check">
                <form action="/cadastrarPerfil" method="post">
                    <h2>Cadastro de Contato</h2>
                    
                    <label>Nome:</label>
                    <input type="text" name="nome"><br>
                    
                    <label>E-mail:</label>
                    <input type="text" name="email"><br>
                    
                    <label for="fone">Telefone:</label>
                    <input type="text" name="fone"><br>
                    
                    <button>Cadastrar</button>
                    
                    <h3 class="status" th:text="${mensagem}"></h3>
                </form>
            </div>
        </fieldset>


        <button type="submit">Cadastrar-se</button>



    </form>

</body>
</html>
