* {padding: 0;}

body {
  text-align: center;
  font-size:larger;
  font-family: apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #ebe5b5;
  
}
h1 {
  text-align: center;
}
.formt {
  height: 450px;
  width: 800px;
}

/*BASE DE CSS*/
/* Banner de cima  */
.banner {
  background: url("../img/sobrevivencialismoWPP.jpg");
  margin: 0px;
  image-resolution: ;
  border: 0px;
  padding-top: 115px;
  padding-bottom: 115px;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  background-repeat: no-repeat;
  
  
 
}


.banner ul, li {
  list-style-type: none;
  display: inline;
  margin: 0;
  height: fit-content;
}
.banner a {
 text-decoration: none;
 /* TOP RIGHT BOTTOM LEFT */
 padding: 50px 150px;
}
.src {
  size: auto;
  /* que que da pra botar aqui? */
}

/* ajuste dos dois sobre sobrevivencialismo.html e sidebar.html*/

 /*ediçoes de tamanho e cor do  corpos dos link sidebar.html*/

/* ediçoes do texto */
.mod {
  padding: 2% 10%;
  margin-top: 10%;
}

/* h1 do sobrevivencialismo.html */
.mod > h3 {
  text-align: center;
  
}

.fieldset {
  text-align: center;
}