body {
  margin: 0px;
  border: 0px;
  height: auto;

}

/*BASE DE CSS*/
/* Banner de cima  */
.banner {
  background: url("../img/sobrevivencialismoWPP.jpg");
  margin: 0px;
  border: 0px;
  padding-top: 115px;
  padding-bottom: 115px;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  
 
}
.img {
  background-image: url("../img/xp.jpg");
  width: 500px;
  height: 200px;
}

.banner ul, li {
  list-style-type: none;
  display: inline;
  margin: 0;
}
.banner a {
 text-decoration: none;
 /* TOP RIGHT BOTTOM LEFT */
 padding: 500px 150px;
}
.src {
  size: auto;
  /* que que da pra botar aqui? */
}

/* ajuste dos dois sobre sobrevivencialismo.html e sidebar.html*/
iframe{
  height:100%;
  position:absolute
}
 /*ediçoes de tamanho e cor do  corpos dos link sidebar.html*/
iframe#sidebar{
  background-color: #ebe5b5;
  left:0%;
  top:35%;
  height: 400%;
  width:22%;
}
/* ediçoes de temanho e cor do texto central sobrevivencialismo.html */
iframe#main{
  background-color: #ebe5b5;
  left:22.3%;
  top:35%;
  height: 400%;
  width:78.5%;

  
  
}
/* ediçoes do texto */
.mod {
  padding: 2% 10%;
  margin-top: 10%;
}

/* h1 do sobrevivencialismo.html */
.mod > h3 {
  text-align: center;
  
}